In [110]:
import pandas as pd

In [111]:
import os

In [112]:
files = [file for file in os.listdir('D:\\bank_project\\')]

In [113]:
files

['ATM022019CE27C7C3D4DE4DBEB164F19A20F0A7AC.XLSX',
 'ATM0320192289B618AE554B30A7B9D3230BD6713C.XLSX',
 'ATM042019A0FB8E1CBBD543ABBA614DED21021147.XLSX',
 'ATM052019E96EC259708C4ED9AD9E0C6B5E8B6DD5.XLSX',
 'ATM062019E3FE782DF9FE41C59EEFA19760DD58A6.XLSX',
 'ATM07201982720ABF86D442C5911E4FDFE3554BCC.XLSX',
 'ATM082019999D63000F6E47F9891ACE89F85009EE.XLSX',
 'ATM0920197C5B5D020D90408BB3C5FA0A80B49841.XLSX',
 'ATM101925758787C7284D888FB507C05A618599.XLSX',
 'ATMC0120190C5F282E1F78437C842B43C845530FE7.XLSX',
 'ATMCS112019740C7A5278BD451399D4EAEEAF14D44E.XLSX',
 'ATMCS122019503EA32B5C4A44519E548866B04FB926.XLSX']

In [114]:
all_months_data = pd.DataFrame()
all_months = pd.DataFrame()

In [115]:
import numpy as np
for file in files:
    xl = pd.ExcelFile('D:\\bank_project\\'+file)
    all_months = pd.read_excel('D:\\bank_project\\'+file,header = [1,2,3] ,skiprows = [0,5] )
    all_months['date'] = pd.to_datetime(xl.sheet_names)[0]
    all_months = all_months[['Bank Name','ATMs','POS','Credit Cards','Debit Cards','date']]
    idx = all_months.loc[all_months['Bank Name', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2']=='Total'].index.values[0]
    all_months_df = all_months[['Bank Name','ATMs','POS','Credit Cards','Debit Cards','date']][:idx]
    col_in = ('Credit Cards','Amount of transactions\n(Lakh)') in all_months_df.columns
    if col_in == True:
        d = {'Amount of transactions\n(Lakh)': 'Amount of transactions\n(Rs. Millions)'}
        all_months_df = all_months_df.rename(columns=d, level=1)
        all_months_df['Debit Cards','Amount of transactions\n(Rs. Millions)'] = all_months_df['Debit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
        all_months_df['Credit Cards','Amount of transactions\n(Rs. Millions)'] = all_months_df['Credit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
    d = {'No .of outstanding cards as at the end of the month': 'No. of outstanding cards as at the end of the month'}
    all_months_df = all_months_df.rename(columns=d, level=1)
    all_months_data = pd.concat([all_months_data,all_months_df])

C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\ipykernel\zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2877: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2922: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

In [116]:
pd.set_option('max_columns', 500)
all_months_data

                                Bank Name               ATMs  \
                       Unnamed: 2_level_1            On-site
                       Unnamed: 2_level_2 Unnamed: 3_level_2
0                          ALLAHABAD BANK              631.0
1                             ANDHRA BANK             3025.0
2                          BANK OF BARODA             6430.0
3                           BANK OF INDIA             2596.0
4                     BANK OF MAHARASHTRA             1314.0
..                                    ...                ...
59        JANA SMALL FINANCE BANK LIMITED              127.0
60  NORTH EAST SMALL FINANCE BANK LIMITED                0.0
61    SURYODAY SMALL FINANCE BANK LIMITED               25.0
62     UJJIVAN SMALL FINANCE BANK LIMITED              468.0
63     UTKARSH SMALL FINANCE BANK LIMITED              136.0

                                     POS                     \
             Off-site            On-line           Off-line
   Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
0               200.0             3176.0                0.0
1               773.0            15895.0                0.0
2              3247.0            51960.0                0.0
3              3558.0            64884.0                0.0
4               556.0             3105.0                0.0
..                ...                ...                ...
59                3.0                0.0                0.0
60                0.0                0.0                0.0
61                1.0                0.0                0.0
62                3.0                0.0                0.0
63               36.0                0.0                0.0

                                          Credit Cards  \
   No. of outstanding cards as at the end of the month
                                    Unnamed: 7_level_2
0                                                   0
1                                              297282
2                                              216885
3                                              184049
4                                                   0
..                                                ...
59                                                  0
60                                                  0
61                                                  0
62                                                  0
63                                                  0

                                            \
   No. of Transactions (Actuals)
                             ATM       POS
0                            0.0       0.0
1                        14808.0  523048.0
2                         8515.0  526791.0
3                        22048.0  287734.0
4                            0.0       0.0
..                           ...       ...
59                           0.0       0.0
60                           0.0       0.0
61                           0.0       0.0
62                           0.0       0.0
63                           0.0       0.0

                                                        \
   Amount of transactions\n(Rs. Millions)
                                      ATM          POS
0                                0.000000     0.000000
1                               74.017485  1288.075572
2                               32.438100  1156.378356
3                              122.536089   716.956597
4                                0.000000     0.000000
..                                    ...          ...
59                               0.000000     0.000000
60                               0.000000     0.000000
61                               0.000000     0.000000
62                               0.000000     0.000000
63                               0.000000     0.000000

                                           Debit Cards  \
   No. of outstanding cards as at the end of the month
                                   Unnamed: 12_level_2
0                                           6049046.0
1                                          28048189.0
2                                          46316905.0
3                                          59139931.0
4                                           5085031.0
..                                                ...
59                                           974029.0
60                                           108279.0
61                                            33396.0
62                                          4936956.0
63                                           327371.0

                                               \
   No. of Transactions\n(Actuals)
                              ATM         POS
0                       8736133.0   2893368.0
1                       9846798.0   5858733.0
2                      19719888.0  10904078.0
3                      34343155.0   8217880.0
4                       6772706.0   3983391.0
..                            ...         ...
59                       526347.0     84646.0
60                        17286.0      9775.0
61                        34792.0     26722.0
62                      2448739.0    429085.0
63                       125422.0     45463.0

                                                              date
   Amount of transactions\n(Rs. Millions)
                                      ATM           POS
0                            20881.724905   2870.783843 2019-02-01
1                            32749.022497   7162.400000 2019-02-01
2                            84197.036040  12860.367366 2019-02-01
3                            63170.719254   8315.935230 2019-02-01
4                            24071.337363   2867.230991 2019-02-01
..                                    ...           ...        ...
59                            2813.712550     90.979310 2019-12-01
60                              62.639496      8.926498 2019-12-01
61                             123.724904     32.661103 2019-12-01
62                           10289.747977    418.749232 2019-12-01
63                             401.812339     44.217941 2019-12-01

[774 rows x 16 columns]

In [117]:
all_months_data.to_excel('all_months_atm_data.xlsx')

In [118]:
#processing of 2020 : jan , feb data
files = [file for file in os.listdir('D:\\trial')]
y = pd.DataFrame()
for file in files:
    x =  pd.read_excel('D:\\trial\\'+file,header = [1,2,3] ,skiprows = [0,5,6,7,27,48,57,64])
    xl = pd.ExcelFile('D:\\trial\\'+file)
    x['date'] = pd.to_datetime(xl.sheet_names)[0]    
    idx = x.loc[x['Bank Name', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2']=='Total'].index.values[0]
    x = x[['Bank Name','ATMs','POS','Credit Cards','Debit Cards','date']][:idx]
    if ('Credit Cards','Value of transactions\n(Rupees Lakh)') in all_2020_data.columns:
        d = {'Value of transactions\n(Rupees Lakh)': 'Amount of transactions\n(Rs. Millions)'}
        x = x.rename(columns=d,level=1)
    else:
        d = {'Amount of transactions\n(Lakh)': 'Amount of transactions\n(Rs. Millions)'}
        x = x.rename(columns=d,level=1)
    x['Debit Cards','Amount of transactions\n(Rs. Millions)'] = x['Debit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
    x['Credit Cards','Amount of transactions\n(Rs. Millions)'] = x['Credit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
    y = pd.concat([y,x])

C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\ipykernel\zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2877: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2922: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

In [119]:
y

                                Bank Name               ATMs  \
                       Unnamed: 2_level_1            On-site
                       Unnamed: 2_level_2 Unnamed: 3_level_2
0                          ALLAHABAD BANK              805.0
1                             ANDHRA BANK             3024.0
2                          BANK OF BARODA             9349.0
3                           BANK OF INDIA             2408.0
4                     BANK OF MAHARASHTRA             1382.0
..                                    ...                ...
53        JANA SMALL FINANCE BANK LIMITED              128.0
54  NORTH EAST SMALL FINANCE BANK LIMITED                0.0
55    SURYODAY SMALL FINANCE BANK LIMITED               25.0
56     UJJIVAN SMALL FINANCE BANK LIMITED              470.0
57     UTKARSH SMALL FINANCE BANK LIMITED              138.0

                                     POS                     \
             Off-site            On-line           Off-line
   Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
0                95.0             3286.0                0.0
1               769.0            13597.0                0.0
2              3844.0            60195.0                0.0
3              3342.0            48552.0                0.0
4               545.0             2501.0                0.0
..                ...                ...                ...
53                3.0                0.0                0.0
54                0.0                0.0                0.0
55                1.0                0.0                0.0
56                3.0                0.0                0.0
57               36.0                0.0                0.0

                                          Credit Cards  \
   No. of outstanding cards as at the end of the month
                                    Unnamed: 7_level_2
0                                                 0.0
1                                            304310.0
2                                            458202.0
3                                            166498.0
4                                                 0.0
..                                                ...
53                                                0.0
54                                                0.0
55                                                0.0
56                                                0.0
57                                                0.0

                                             \
   No. of Transactions (Actuals)
                             ATM        POS
0                            0.0        0.0
1                         8679.0   553227.0
2                        14580.0  1093438.0
3                        15421.0   414772.0
4                            0.0        0.0
..                           ...        ...
53                           0.0        0.0
54                           0.0        0.0
55                           0.0        0.0
56                           0.0        0.0
57                           0.0        0.0

                                                        \
   Amount of transactions\n(Rs. Millions)
                                      ATM          POS
0                                0.000000     0.000000
1                               41.740172  1338.153381
2                               62.035700  2356.254630
3                               87.768036   911.215085
4                                0.000000     0.000000
..                                    ...          ...
53                               0.000000     0.000000
54                               0.000000     0.000000
55                               0.000000     0.000000
56                               0.000000     0.000000
57                               0.000000     0.000000

                                           Debit Cards  \
   No. of outstanding cards as at the end of the month
                                   Unnamed: 12_level_2
0                                           6808170.0
1                                          13075284.0
2                                          53624770.0
3                                          39598183.0
4                                           7539193.0
..                                                ...
53                                          1119517.0
54                                           113876.0
55                                            29810.0
56                                          5132660.0
57                                           355691.0

                                               \
   No. of Transactions\n(Actuals)
                              ATM         POS
0                       5717337.0   4033722.0
1                      11574028.0   7012218.0
2                      31962550.0  22875640.0
3                      20156507.0  11261304.0
4                       8025393.0   5224681.0
..                            ...         ...
53                       566186.0     95442.0
54                        18950.0     12569.0
55                        36869.0     27940.0
56                      2654590.0    485282.0
57                       150415.0     50781.0

                                                              date
   Amount of transactions\n(Rs. Millions)
                                      ATM           POS
0                            23452.300000   3776.500000 2020-02-01
1                            48626.809721   9425.968168 2020-02-01
2                           145375.539704  28721.618117 2020-02-01
3                            72338.401470  11949.089241 2020-02-01
4                            29622.519083   5476.773400 2020-02-01
..                                    ...           ...        ...
53                            3002.349600    103.083858 2020-01-01
54                              69.028373     11.109861 2020-01-01
55                             132.983612     32.584089 2020-01-01
56                           11324.418749    472.935838 2020-01-01
57                             445.857354     50.110123 2020-01-01

[121 rows x 16 columns]

In [120]:
#concat of 2019 and 2020 (jan, feb) data
final_all = pd.concat([all_months_data,y])

In [121]:
final_all

                                Bank Name               ATMs  \
                       Unnamed: 2_level_1            On-site
                       Unnamed: 2_level_2 Unnamed: 3_level_2
0                          ALLAHABAD BANK              631.0
1                             ANDHRA BANK             3025.0
2                          BANK OF BARODA             6430.0
3                           BANK OF INDIA             2596.0
4                     BANK OF MAHARASHTRA             1314.0
..                                    ...                ...
53        JANA SMALL FINANCE BANK LIMITED              128.0
54  NORTH EAST SMALL FINANCE BANK LIMITED                0.0
55    SURYODAY SMALL FINANCE BANK LIMITED               25.0
56     UJJIVAN SMALL FINANCE BANK LIMITED              470.0
57     UTKARSH SMALL FINANCE BANK LIMITED              138.0

                                     POS                     \
             Off-site            On-line           Off-line
   Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
0               200.0             3176.0                0.0
1               773.0            15895.0                0.0
2              3247.0            51960.0                0.0
3              3558.0            64884.0                0.0
4               556.0             3105.0                0.0
..                ...                ...                ...
53                3.0                0.0                0.0
54                0.0                0.0                0.0
55                1.0                0.0                0.0
56                3.0                0.0                0.0
57               36.0                0.0                0.0

                                          Credit Cards  \
   No. of outstanding cards as at the end of the month
                                    Unnamed: 7_level_2
0                                                   0
1                                              297282
2                                              216885
3                                              184049
4                                                   0
..                                                ...
53                                                  0
54                                                  0
55                                                  0
56                                                  0
57                                                  0

                                            \
   No. of Transactions (Actuals)
                             ATM       POS
0                            0.0       0.0
1                        14808.0  523048.0
2                         8515.0  526791.0
3                        22048.0  287734.0
4                            0.0       0.0
..                           ...       ...
53                           0.0       0.0
54                           0.0       0.0
55                           0.0       0.0
56                           0.0       0.0
57                           0.0       0.0

                                                        \
   Amount of transactions\n(Rs. Millions)
                                      ATM          POS
0                                0.000000     0.000000
1                               74.017485  1288.075572
2                               32.438100  1156.378356
3                              122.536089   716.956597
4                                0.000000     0.000000
..                                    ...          ...
53                               0.000000     0.000000
54                               0.000000     0.000000
55                               0.000000     0.000000
56                               0.000000     0.000000
57                               0.000000     0.000000

                                           Debit Cards  \
   No. of outstanding cards as at the end of the month
                                   Unnamed: 12_level_2
0                                           6049046.0
1                                          28048189.0
2                                          46316905.0
3                                          59139931.0
4                                           5085031.0
..                                                ...
53                                          1119517.0
54                                           113876.0
55                                            29810.0
56                                          5132660.0
57                                           355691.0

                                               \
   No. of Transactions\n(Actuals)
                              ATM         POS
0                       8736133.0   2893368.0
1                       9846798.0   5858733.0
2                      19719888.0  10904078.0
3                      34343155.0   8217880.0
4                       6772706.0   3983391.0
..                            ...         ...
53                       566186.0     95442.0
54                        18950.0     12569.0
55                        36869.0     27940.0
56                      2654590.0    485282.0
57                       150415.0     50781.0

                                                              date
   Amount of transactions\n(Rs. Millions)
                                      ATM           POS
0                            20881.724905   2870.783843 2019-02-01
1                            32749.022497   7162.400000 2019-02-01
2                            84197.036040  12860.367366 2019-02-01
3                            63170.719254   8315.935230 2019-02-01
4                            24071.337363   2867.230991 2019-02-01
..                                    ...           ...        ...
53                            3002.349600    103.083858 2020-01-01
54                              69.028373     11.109861 2020-01-01
55                             132.983612     32.584089 2020-01-01
56                           11324.418749    472.935838 2020-01-01
57                             445.857354     50.110123 2020-01-01

[895 rows x 16 columns]

In [122]:
#processing 2020 march to available data
all_2020_data = pd.DataFrame()
all_months_2020_data = pd.DataFrame()
files = [file for file in os.listdir('D:\\2020')]

for idx, file in enumerate(files):
    xl = pd.ExcelFile('D:\\2020\\'+file)
    all_2020_data = pd.read_excel('D:\\2020\\'+file,header = [1,2,3] ,skiprows = [0,5,6,7,27,48,57,64]) 
    col = ('PoS') in all_2020_data.columns
    if col == True:
        d = {'PoS': 'POS'}
        all_2020_data = all_2020_data.rename(columns=d)
    all_2020_data = all_2020_data[['Bank Name','ATMs','POS','Credit Cards','Debit Cards']]
    all_2020_data['date'] = pd.to_datetime(xl.sheet_names)[0]
    #if idx==0 or idx==8:
    if ('Bank Name', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2') in all_2020_data.columns:
        idx = all_2020_data.loc[all_2020_data['Bank Name', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2']=='Total'].index.values[0]
    else:
        idx = all_2020_data.loc[all_2020_data['Bank Name', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2']=='Total'].index.values[0]
    all_2020_data = all_2020_data[['Bank Name','ATMs','POS','Credit Cards','Debit Cards','date']][:idx]   
    if ('Credit Cards','Value of transactions\n(Rupees Lakh)') in all_2020_data.columns:
        d = {'Value of transactions\n(Rupees Lakh)': 'Amount of transactions\n(Rs. Millions)'}
        all_2020_data = all_2020_data.rename(columns=d,level=1)
    else:
        d = {'Amount of transactions\n(Lakh)': 'Amount of transactions\n(Rs. Millions)'}
        all_2020_data = all_2020_data.rename(columns=d,level=1)
    all_2020_data['Debit Cards','Amount of transactions\n(Rs. Millions)'] = all_2020_data['Debit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
    all_2020_data['Credit Cards','Amount of transactions\n(Rs. Millions)'] = all_2020_data['Credit Cards','Amount of transactions\n(Rs. Millions)'].div(10)
    d = {'No .of outstanding cards as at the end of the month': 'No. of outstanding cards as at the end of the month'}
    all_2020_data = all_2020_data.rename(columns=d, level=1)
    if ('Debit Cards','No. of outstanding cards as at the end of the month','Unnamed: 13_level_2') in all_2020_data.columns:
        d = {'Unnamed: 13_level_2': 'Unnamed: 11_level_2'}
        all_2020_data = all_2020_data.rename(columns=d,level=2) 
    if ('Credit Cards','No. of outstanding cards as at the end of the month','Unnamed: 8_level_2') in all_2020_data.columns:
        d = {'Unnamed: 8_level_2': 'Unnamed: 6_level_2'}
        all_2020_data = all_2020_data.rename(columns=d,level=2) 
    all_months_2020_data = pd.concat([all_months_2020_data,all_2020_data])

C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\ipykernel\zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2877: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)
C:\users\kritika\anaconda3\envs\virtualenv\lib\site-packages\IPython\core\interactiveshell.py:2922: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

In [123]:
all_months_2020_data.shape

(406, 16)

In [124]:
final_all.shape

(895, 16)

In [125]:
all_months_2020_data.columns = final_all.columns

In [126]:
final_all = pd.concat([final_all,all_months_2020_data])

In [127]:
final_all

                                Bank Name               ATMs  \
                       Unnamed: 2_level_1            On-site
                       Unnamed: 2_level_2 Unnamed: 3_level_2
0                          ALLAHABAD BANK              631.0
1                             ANDHRA BANK             3025.0
2                          BANK OF BARODA             6430.0
3                           BANK OF INDIA             2596.0
4                     BANK OF MAHARASHTRA             1314.0
..                                    ...                ...
52        ESAF SMALL FINANCE BANK LIMITED              225.0
53  NORTH EAST SMALL FINANCE BANK LIMITED                0.0
54    SURYODAY SMALL FINANCE BANK LIMITED               25.0
55     UJJIVAN SMALL FINANCE BANK LIMITED              472.0
56     UTKARSH SMALL FINANCE BANK LIMITED              146.0

                                     POS                     \
             Off-site            On-line           Off-line
   Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
0               200.0             3176.0                0.0
1               773.0            15895.0                0.0
2              3247.0            51960.0                0.0
3              3558.0            64884.0                0.0
4               556.0             3105.0                0.0
..                ...                ...                ...
52                2.0              338.0                0.0
53                0.0                0.0                0.0
54                1.0                0.0                0.0
55                3.0                0.0                0.0
56               36.0                0.0                0.0

                                          Credit Cards  \
   No. of outstanding cards as at the end of the month
                                    Unnamed: 7_level_2
0                                                   0
1                                              297282
2                                              216885
3                                              184049
4                                                   0
..                                                ...
52                                                  0
53                                                  0
54                                                  0
55                                                  0
56                                                  0

                                            \
   No. of Transactions (Actuals)
                             ATM       POS
0                            0.0       0.0
1                        14808.0  523048.0
2                         8515.0  526791.0
3                        22048.0  287734.0
4                            0.0       0.0
..                           ...       ...
52                           0.0       0.0
53                           0.0       0.0
54                           0.0       0.0
55                           0.0       0.0
56                           0.0       0.0

                                                        \
   Amount of transactions\n(Rs. Millions)
                                      ATM          POS
0                                0.000000     0.000000
1                               74.017485  1288.075572
2                               32.438100  1156.378356
3                              122.536089   716.956597
4                                0.000000     0.000000
..                                    ...          ...
52                               0.000000     0.000000
53                               0.000000     0.000000
54                               0.000000     0.000000
55                               0.000000     0.000000
56                               0.000000     0.000000

                                           Debit Cards  \
   No. of outstanding cards as at the end of the month
                                   Unnamed: 12_level_2
0                                           6049046.0
1                                          28048189.0
2                                          46316905.0
3                                          59139931.0
4                                           5085031.0
..                                                ...
52                                          3161455.0
53                                           186714.0
54                                            64573.0
55                                          5500094.0
56                                           434841.0

                                               \
   No. of Transactions\n(Actuals)
                              ATM         POS
0                       8736133.0   2893368.0
1                       9846798.0   5858733.0
2                      19719888.0  10904078.0
3                      34343155.0   8217880.0
4                       6772706.0   3983391.0
..                            ...         ...
52                       448474.0    155395.0
53                        19564.0     16142.0
54                        31025.0     23508.0
55                      1437688.0    397333.0
56                       113247.0     41996.0

                                                              date
   Amount of transactions\n(Rs. Millions)
                                      ATM           POS
0                            20881.724905   2870.783843 2019-02-01
1                            32749.022497   7162.400000 2019-02-01
2                            84197.036040  12860.367366 2019-02-01
3                            63170.719254   8315.935230 2019-02-01
4                            24071.337363   2867.230991 2019-02-01
..                                    ...           ...        ...
52                            1889.957472    134.424019 2020-07-01
53                              71.162572     12.969200 2020-07-01
54                             111.406590     30.813269 2020-07-01
55                            5516.611283    510.126514 2020-07-01
56                             358.368750     44.504555 2020-07-01

[1301 rows x 16 columns]

In [128]:
final_all.shape

(1301, 16)

In [130]:
final_all.to_excel('final_all.xlsx')